/**
 * Custom Styles to modify TwentySeventeen for
 * https://2017.austin.wordcamp.org
 *
 * @package twentyseventeen
 */

// Variables
$white: #FFFFFF;
$blue: #162A33;
$gutter: 1em;

// Imports
@import 'sass/headers';
@import 'sass/content';
@import 'sass/shortcodes';
